/*  */
/*---------------------------- Default styles --------------------------------*/
* {
  margin: 0;
  box-sizing: border-box;
}

/*---------------------------- Wrapper content --------------------------------*/
.wrapper {
  width: 100%;
  margin-top: 5%;

  font-size: 0;
  text-align: center;
}

h1 {
  font-size: 36px;
}

main {
  position: relative;
  display: inline-block;

  height: 500px;
  width: 500px;
}

/*---------------------------- Figures style --------------------------------*/
.figure {
  position: absolute;

  height: 25%;
  width: 25%;
}

.square {
  bottom: 25%;
  left: 25%;
  z-index: 2;

  height: 50%;
  width: 50%;

  background-color: #00bfff;
}

.square-rounded {
  top: 37.5%;
  left: 37.5%;
  z-index: 3;

  border-radius: 15%;
  background-color: #ffd700;
}

.circle {
  z-index: 1;

  border-radius: 50%;
  background-color: #dc143c;
}

.circle-top-left {
  top: 12.5%;
  left: 12.5%;
}

.circle-top-right {
  top: 12.5%;
  left: 62.5%;
}


.circle-bottom-left {
  top: 62.5%;
  left: 12.5%;
}

.circle-bottom-right {
  top: 62.5%;
  left: 62.5%;

}

/*----------------------- Figures :hover proccessing -------------------------*/

.square:hover {
    z-index: 4;
    background-color: #7b68ee;
}

.circle-top-left:hover {
  z-index: 3;
  background-color: #333333;
}

.circle-top-right:hover {
  z-index: 3;
  background-color: #df05c7;
}

.circle-bottom-left:hover {
  z-index: 3;
  background-color: #aae354;
}

.circle-bottom-right:hover {
  z-index: 3;
  background-color: #378acf;
}
